:root {
    --Cor-Principal: #001B35;
    --Cor-Secundaria: #001427;
    --Cor-Terciaria: #0A243D;
    --Branco: #FFFFFF;
    --Cinza: #E5E5E5;
    --Cinza-Escuro: #333333;
    --Preto: #000000;
    --Border: #014d94;
    --Azul-Claro: #96BDE0;
}